@model WebApplication5.Models.MyapiOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Sipariş Detayları</h1>

<div>
    @*<h4>Sipariş Detayları</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Sipariş Veriliş Tarihi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueTime)
        </dd>
       
        <dt class="col-sm-2">
           Sipariş Tarihi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlannedTime)
        </dd>
      
        <dt class="col-sm-2">
            Müşteri
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
            @Html.DisplayFor(model => model.Customer.Surname)


        </dd>
        <dt class="col-sm-2">
            Sipariş Listesi
        </dt>
        <dd class="col-sm-10">
            @foreach (var product in Model.MyapiProductsinorders)
            {
                @Html.DisplayFor(productName => product.Product.Name)
                <text>:</text>
                <text> </text>
                @Html.DisplayFor(productName => product.ProductCount)
                <text> </text>
                <text>Adet</text>
                <br />
            }
        </dd>

    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Sipariş Listesine Dön</a>
</div>
